<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet" href="css/style.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
	link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css")
	link(rel="stylesheet" href="css/header2.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
	//-script(type="text/javascript" src="slick.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
	script(src="js/nav-menu.js")
	//-script(src="https://code.jquery.com/jquery.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
	script(src="js/main.js")
	script(src="js/header2-slick.js")
	script(src="js/sm-slick.js")
	script(src="js/sm-slick1.js")
body
	include nav.pug
	include map.pug
	include trip.pug
	include footer.pug
	input(type="text", id="start2", placeholder="開始日期：")
	input(type="text", id="end2", placeholder="結束日期：")
	h1 aaa
	h2 bbb
	h3 ccc
	.col-md-8.slick1.container-fluid
		.img2
			img(src="images/1.jpg")
		.img2
			img(src="images/2.jpg")
		.img2
			img(src="images/3.jpg")
		.img2
			img(src="images/4.jpg")
		.img2
			img(src="images/5.jpg")
	h4 ddd
	h5 eee
	h6 fff
	